##**Looping/Perulangan**

Python menyediakan dua statement untuk melakukan proses perulangan yaitu for dan while. Diantara kedua statement ini, secara umum for lebih banyak digunakan daripada while.

###For Loop

Perulangan `for` digunakan untuk melakukan literasi di dalam `sequence` seperti `list`, `tuple`, `string`, dan `array` atau objek yang dapat diliterasi lainnya.

**For Loop Syntax**


```
for val in sequence :
    loop body
```

**For Loop Flowchart**

![forLoop.webp]()

**Example : Python for Loop**

In [1]:
# Program untuk menghitung jumlah semua angka dalam sebuah list
L1 = [2, 4, 5, 7, 9]
jumlah = 0

# iterasi di dalam list
for i in L1:
  jumlah = jumlah + i

print(jumlah)

27

###**The range() function**

In [2]:
# Program untuk melakukan iterasi di dalam list melalui indeks
minuman = ["teh", "boba", "kopi", "susu"]
p = len(minuman)

# iterasi di dalam list melalui lindeks
for i in range(p):
    print(minuman[i])

teh
boba
kopi
susu

###**for loop with else**

In [3]:
# Contoh for loop menggunakan else
for i in range(p):
  print(minuman[i])
else:
  print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

###Latihan 1

Diberikan `list_tagihan`. Kamu diminta untuk menghitung jumlah seluruh tagihan!. Gunakan looping `for` untuk menyelesaikan tugas ini! Simpan hasilnya pada variabel `total_tagihan`!


```
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
```

In [4]:
# Tuliskan code kalian

list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

# iterasi di dalam list
for i in list_tagihan:
  total_tagihan = total_tagihan + i

print(total_tagihan)

550000

##While Loop

While loop pada Python digunakan untuk melakukan iterasi pada blok kode selama nilai dari `test expression` adalah `true`.

**Syntax of while Loop in Python**


```
while test_expression :
    Body of while
```

**While Loop Flowchart**

![whileLoopFlowchart.webp]()

**Example : Python while Loop**

In [5]:
# Program untuk menjumlahkan semua
# bilangan asli hingga suku ke-n
# jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 1

while i <= n:
  jumlah = jumlah + 1
  i = i + 1


print(jumlah)

10

###**While loop with else**

Sama dengan `for` loop kita juga dapat mengkombinasikan `while` loop dengan blok `else`.

Bagian `else` akan dieksekusi jika nilai pada `test expression` pada `while loop` bernilai `False`. Perhatikan contoh berikut :

In [6]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum) # dieksukusi diluar looping

55

###Latihan 2

Diberikan list `tagihan` hitunglah `total_tagihan` menggunakan `while loop`.


```
tagihan = [50000, 75000, 125000, 300000, 200000]
```

In [7]:
# Tuliskan kodemu

tagihan = [50000, 75000, 125000, 300000, 200000]

i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0

while i < jumlah_tagihan:
  total_tagihan = total_tagihan + tagihan[i]
  i = i + 1


print(total_tagihan)

750000