#**Perulangan For dan While**

##**Looping/Perulangan**

Python menyediakan dua statement untuk melakukan proses perulangan yaitu for dan while. Diantara kedua statement ini, secara umum for lebih banyak digunakan daripada while.

###For Loop

Perulangan `for` digunakan untuk melakukan literasi di dalam `sequence` seperti `list`, `tuple`, `string`, dan `array` atau objek yang dapat diliterasi lainnya.

**For Loop Syntax**


```
for val in sequence :
    loop body
```

**For Loop Flowchart**

![forLoop.webp]()

**Example : Python for Loop**

In [37]:
# Program untuk menghitung jumlah semua angka dalam sebuah list
L1 = [2, 4, 5, 7, 9]
jumlah = 0

# iterasi di dalam list
for i in L1:
  jumlah = jumlah + i

print(jumlah)

27

###**The range() function**

In [38]:
# Program untuk melakukan iterasi di dalam list melalui indeks
minuman = ["teh", "boba", "kopi", "susu"]
p = len(minuman)

# iterasi di dalam list melalui lindeks
for i in range(p):
    print(minuman[i])

teh
boba
kopi
susu

###**for loop with else**

In [39]:
# Contoh for loop menggunakan else
for i in range(p):
  print(minuman[i])
else:
  print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

###Latihan 1

Diberikan `list_tagihan`. Kamu diminta untuk menghitung jumlah seluruh tagihan!. Gunakan looping `for` untuk menyelesaikan tugas ini! Simpan hasilnya pada variabel `total_tagihan`!


```
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
```

In [40]:
# Tuliskan code kalian

list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

# iterasi di dalam list
for i in list_tagihan:
  total_tagihan = total_tagihan + i

print(total_tagihan)

550000

##While Loop

While loop pada Python digunakan untuk melakukan iterasi pada blok kode selama nilai dari `test expression` adalah `true`.

**Syntax of while Loop in Python**


```
while test_expression :
    Body of while
```

**While Loop Flowchart**

![whileLoopFlowchart.webp]()

**Example : Python while Loop**

In [41]:
# Program untuk menjumlahkan semua
# bilangan asli hingga suku ke-n
# jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 1

while i <= n:
  jumlah = jumlah + i
  i = i + 1


print(jumlah)

55

###**While loop with else**

Sama dengan `for` loop kita juga dapat mengkombinasikan `while` loop dengan blok `else`.

Bagian `else` akan dieksekusi jika nilai pada `test expression` pada `while loop` bernilai `False`. Perhatikan contoh berikut :

In [42]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum) # dieksukusi diluar looping

55

###Latihan 2

Diberikan list `tagihan` hitunglah `total_tagihan` menggunakan `while loop`.


```
tagihan = [50000, 75000, 125000, 300000, 200000]
```

In [43]:
# Tuliskan kodemu

tagihan = [50000, 75000, 125000, 300000, 200000]

i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0

while i < jumlah_tagihan:
  total_tagihan = total_tagihan + tagihan[i]
  i = i + 1


print(total_tagihan)

750000

#**If Elif Else**

#Percabangan/Struktur Pemilihan

Pada bagian ini, kamu akan membuat keputusan pada bahasa pemrograman Python menggunakan struktur percabangan atau juga sering disebut IF ELSE Statement. Pengambilan keputusan dibutuhkan ketika kamu akan mengeksekusi suatu kode jika sebuah kondisi tertentu dipenuhi.

Statement `if .. elif ... else` digunakan pada bahasa Python untuk pengambilan keputusan.

###IF Statements

**Python IF Statements Syntax**



```
if test expression:
   statement(s)
```

**Python IF Statement Flowchart**

![Python_if_statement.webp]()

**Example : Python IF Statement**

In [44]:
# Jika angka adalah bilangan positif maka print "adalah bilangan positif"

angka = 3
if angka > 0:
    print(angka, "adalah bilangan positif.")
print("Pernyataan ini selalu ditampilkan.")

angka = -1
if angka > 0:
    print(angka, "adalah bilangan positif.")
print("Pernyataan ini juga selalu ditampilkan.")

3 adalah bilangan positif.
Pernyataan ini selalu ditampilkan.
Pernyataan ini juga selalu ditampilkan.

###IF ELSE Statements

**Python IF ELSE Statement Syntax**



```
if test expression :
   Body of if
else :
   Body of else
```

**Python IF ELSE Statement Flowchart**

![Python_if_else_statement.webp]()

**Example : Python IF ELSE Statement**

In [45]:
# Program disusun untuk mengecek apakah angka tersebut kurang dari 0 atau tidak
# dan menampilkan tulisan yang sesuai

angka = 3

if angka >= 0:
    print("Bilangan lebih dari atau samadengan 0")
else:
    print("Bilangan kurang dari 0")

Bilangan lebih dari atau samadengan 0

In [46]:
# Program disusun untuk mengecek apakah dua buah angka sama atau tidak
# dan menampilkan tulisan yang sesuai

a = 5
b = 5

if a==b:
    print("a dan b bernilai sama")
else:
    print("a dan b bernilai berbeda")
    print("Belajar If Else")

a dan b bernilai sama

In [47]:
# Program disusun untuk mengecek apakah perbandingan dua buah angka
# dan menampilkan tulisan yang sesuai

# membaca dua angka
bil1 = int(input("Masukkan bilangan pertama:"))
bil2 = int(input("Masukkan bilangan kedua:"))

# memilih bilanagan yang lebih besar
if bil1 > bil2 :
    bil_lebih_besar = bil1
else:
    bil_lebih_besar = bil2

# menampilkan hasil
print("Bilangan yang lebih besar adalah:", bil_lebih_besar)

Masukkan bilangan pertama:3
Masukkan bilangan kedua:5
Bilangan yang lebih besar adalah: 5

###IF ELIF ELSE Statements

**Python IF ELIF ELSE Statement Syntax**


```
if test expression :
    Body of if
elif test expression :
    Body of elif
else :
    Body of else
```

**Python IF ELIF ELSE Statement Flow Chart**

![Python_if_elif_else_statement.webp]()

**Example : Python IF ELIF ELSE Statement**

In [48]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif, atau nol
# dan menampilkan tulisan yang sesuai

angka = 3.4

if angka > 0:
    print("Bilangan Positif")
elif num == 0:
    print("Nol")
else:
    print("Bilangan Negatif")

Bilangan Positif

In [49]:
# Statement if
x = 4
if x % 2 == 0: # jika x dibagi 2 sisanya samadengan 0
    print("x habis dibagi dua")

# Statement if ... elif ... else
x = 7
if x % 2 == 0: # jika x dibagi 2 sisanya samadengan 0
    print("x habis dibagi dua")
elif x % 3 == 0: # jika x dibagi 3 sisanya samadengan 0
    print("x habis dibagi tiga")
elif x % 5 == 0: # jika x dibagi 5 sisanya samadengan 0
    print("x habis dibagi lima")
else:
    print("x tidak habis dibagi dua, tiga ataupun lima")

x habis dibagi dua
x tidak habis dibagi dua, tiga ataupun lima

###Python Nested IF Statements

**Example : Python NESTED IF Statement**

In [50]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif, atau nol
# dan menampilkan tulisan yang sesuai

angka = float(input("Masukkan angka: "))
if angka >= 0:
    if angka == 0:
        print("Nol")
    else:
        print("Bilangan Positif")
else:
    print("Bilangan Negatif")

Masukkan angka: 4
Bilangan Positif

###Latihan

Buatlah sebuah fungsi "Mahal_Diskon" dengan ketentuan :

*   Input berupa data harga produk dengan tipe data numerik Tunggal
*   Kategori Input adalah "Murah" dan "Mahal", kemudian diskon ada 3 kategori "10%", "20%", dan "40%"
*   Output Pertama sebuah teks/string yang menyatakan "Mahal" atau "Murah" dan Keterangan "Kamu Dapat Diskon .."
*   Output Kedua adalah harga yang perlu dibayarkan

In [51]:
# Ketikan Codingan anda
harga = float(input("harga:"))

if harga >= 250000:
  print("mahal")
else:
  print("murah")


if 200000 >= harga < 400000:
  print("Kamu mendapat diskon 10%")
elif 400000 >= harga < 800000:
  print("Kamu mendapat diskon 20%")
elif harga >= 800000:
  print("Kamu mendapat diskon 40%")
else:
  print("Kamu tidak mendapat diskon")


if 200000 >= harga < 400000:
  print("Kamu harus membayar:", harga-harga*10/100)
elif 400000 >= harga < 800000:
  print("Kamu harus membayar:", harga-harga*20/100)
elif harga >= 800000:
  print("Kamu harus membayar:", harga-harga*40/100)
else:
  print("Kamu tidak mendapat diskon")

harga:4500000
mahal
Kamu mendapat diskon 40%
Kamu harus membayar: 2700000.0