##Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahakan dengan koma.

In [9]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [10]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [11]:
#Menampilkan tipe struktur data
type(T1)

tuple

In [12]:
type(T11)

tuple

Sifat-sifat Tuple

In [13]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [14]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [15]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [16]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [17]:
#Tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [18]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [19]:
#Tidak dapat mengahapus elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [20]:
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

Menggabungkan tuple

In [21]:
# Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

Latihan

In [22]:
#Buatlah tuplemu sendiri
OOz = ("Huang Renjun","Lee Jeno","Lee Haechan","Na Jaemin")
print("ini adalah anggota NCT Dream 00line", OOz)
type(OOz)

ini adalah anggota NCT Dream 00line ('Huang Renjun', 'Lee Jeno', 'Lee Haechan', 'Na Jaemin')

tuple

Latihan 2

In [23]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
KHz = ("Mark Lee","Zhong Chenle","Park Jisung")
print("ini adalah anggota NCT Dream KHz", KHz)
print("-"*20)

#Gabungkan 2 tuple
NCT_DREAM = OOz + KHz
print(NCT_DREAM)

ini adalah anggota NCT Dream KHz ('Mark Lee', 'Zhong Chenle', 'Park Jisung')
--------------------
('Huang Renjun', 'Lee Jeno', 'Lee Haechan', 'Na Jaemin', 'Mark Lee', 'Zhong Chenle', 'Park Jisung')