###List

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [15]:
#Contoh List
L1 = [1, 4, 2, 13]
print(type(L1))

<class 'list'>

In [16]:
L2 = ["a","Python",3]

print(type(L2))

<class 'list'>

In [17]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

Indeks di Python (List,Tuple) mulai dari **0**

In [18]:
#Sifat-sifat List

#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat Diindeks/Slicing
print("Slicing List L1:", L1[3])

#Dapat Dijinkan Duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya: [1, 2, 2, 13]
Slicing List L1: (2+3j)
Duplikasi pada List L1: [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [19]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)

L1 = [1, "dua", True, 2+3j]
L1.insert(2, 5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [20]:
#mengubah elemen dari list menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [21]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

Latihan 1

In [22]:
#Buatlah List kalian sendiri
HotSauce = ["Hot Sauce", "Diggity", "Dive Into You", "My Youth", "Rocket", "Countdown 321", "ANL", "Irreplaceable", "Be There For You", "Rainbow"]
print(type(HotSauce))

<class 'list'>

In [23]:
GlitchMode = ["Fire Alarm", "Glitch Mode", "Arcade", "Its Yours", "Teddy Bear", "Replay", "Saturday Drip", "Better Than Glow", "Drive", "Never Goodbye", "Rewind"]
print(type(GlitchMode))

<class 'list'>

In [24]:
print(HotSauce)
print(GlitchMode)

['Hot Sauce', 'Diggity', 'Dive Into You', 'My Youth', 'Rocket', 'Countdown 321', 'ANL', 'Irreplaceable', 'Be There For You', 'Rainbow']
['Fire Alarm', 'Glitch Mode', 'Arcade', 'Its Yours', 'Teddy Bear', 'Replay', 'Saturday Drip', 'Better Than Glow', 'Drive', 'Never Goodbye', 'Rewind']

Latihan 2

In [25]:
#Ganti elemen yang ada pada List yang kalian buat

#Terurut/Ordered
print("Memanggil List Hot Sauce dengan indeks urutan:",HotSauce[0:9])
print("Memanggil List Glitch Mode dengan indeks urutan:",GlitchMode[0:10])
print('-'*20)

# Bisa Diganti/Mutable
HotSauce[0]    = "Hello Future"
GlitchMode[1]   = "Beatbox"
print("List Hot Sauce setelah diganti elemennya:",HotSauce)
print("List Glitch Mode setelah diganti elemennya:",GlitchMode)
print('-'*20)

# Dapat diindeks/slicing
HotSauce  = [13,"ANL","Bungee",45+57j]
GlitchMode = [15,"On The Way","Sorry Heart","Rewind",51+16j]
print("Slicing List Hot Sauce:",HotSauce[1])
print("Slicing List Glitch Mode:",GlitchMode[3])
print('-'*20)

# Dapat Diijinkan Duplikasi
HotSauce  = [13,"ANL","Bungee",45+57j]
GlitchMode = [15,"On The Way","Sorry Heart","Rewind",51+16j]
print("Duplikasi List Hot Sauce:",HotSauce)
print("Duplikasi List GlitchMode:",GlitchMode)

#Dapat mengubah data dengan mengganti elemen tertentu
HotSauce  = [13,"ANL","Bungee",45+57j]
GlitchMode = [15,"On The Way","Sorry Heart","Rewind",51+16j]
HotSauce[2] = "My Youth"
GlitchMode[1] = "Replay"
print("Data setelah diubah:", HotSauce)
print("Data setelah diubah:", GlitchMode)

#Dapat menambahkan elemen baru pada data
HotSauce  = [13,"ANL","Bungee",45+57j]
GlitchMode = [15,"On The Way","Sorry Heart","Rewind",51+16j]
HotSauce.append(20)
GlitchMode.append(20)
print("Data setelah ditambahkan elemennya:", HotSauce)
print("Data setelah ditambahkan elemennya:", GlitchMode)

#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
HotSauce  = [13,"ANL","Bungee",45+57j]
GlitchMode = [15,"On The Way","Sorry Heart","Rewind",51+16j]
HotSauce.remove("Bungee")
GlitchMode.remove("Sorry Heart")
print("Data setelah dihapus elemennya:", HotSauce)
print("Data setelah dihapus elemennya:", GlitchMode)

#Menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
HotSauce  = [13,"ANL","Bungee",45+57j]
GlitchMode = [15,"On The Way","Sorry Heart","Rewind",51+16j]
HotSauce.insert(2, "Diggty")
GlitchMode = [4, "Never Goodbye"]
print(HotSauce)
print(GlitchMode)

#mengubah elemen dari list menggunakan fungsi pop() (menghapus berdasarkan indeks)
HotSauce  = [13,"ANL","Bungee",45+57j]
GlitchMode = [15,"On The Way","Sorry Heart","Rewind",51+16j]
HotSauce.pop(2)
GlitchMode.pop(2)
print(HotSauce)
print(GlitchMode)

Memanggil List Hot Sauce dengan indeks urutan: ['Hot Sauce', 'Diggity', 'Dive Into You', 'My Youth', 'Rocket', 'Countdown 321', 'ANL', 'Irreplaceable', 'Be There For You']
Memanggil List Glitch Mode dengan indeks urutan: ['Fire Alarm', 'Glitch Mode', 'Arcade', 'Its Yours', 'Teddy Bear', 'Replay', 'Saturday Drip', 'Better Than Glow', 'Drive', 'Never Goodbye']
--------------------
List Hot Sauce setelah diganti elemennya: ['Hello Future', 'Diggity', 'Dive Into You', 'My Youth', 'Rocket', 'Countdown 321', 'ANL', 'Irreplaceable', 'Be There For You', 'Rainbow']
List Glitch Mode setelah diganti elemennya: ['Fire Alarm', 'Beatbox', 'Arcade', 'Its Yours', 'Teddy Bear', 'Replay', 'Saturday Drip', 'Better Than Glow', 'Drive', 'Never Goodbye', 'Rewind']
--------------------
Slicing List Hot Sauce: ANL
Slicing List Glitch Mode: Rewind
--------------------
Duplikasi List Hot Sauce: [13, 'ANL', 'Bungee', (45+57j)]
Duplikasi List GlitchMode: [15, 'On The Way', 'Sorry Heart', 'Rewind', (51+16j)]
Data setelah diubah: [13, 'ANL', 'My Youth', (45+57j)]
Data setelah diubah: [15, 'Replay', 'Sorry Heart', 'Rewind', (51+16j)]
Data setelah ditambahkan elemennya: [13, 'ANL', 'Bungee', (45+57j), 20]
Data setelah ditambahkan elemennya: [15, 'On The Way', 'Sorry Heart', 'Rewind', (51+16j), 20]
Data setelah dihapus elemennya: [13, 'ANL', (45+57j)]
Data setelah dihapus elemennya: [15, 'On The Way', 'Rewind', (51+16j)]
[13, 'ANL', 'Diggty', 'Bungee', (45+57j)]
[4, 'Never Goodbye']
[13, 'ANL', (45+57j)]
[15, 'On The Way', 'Rewind', (51+16j)]

##Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahakan dengan koma.

In [26]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [27]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [28]:
#Menampilkan tipe struktur data
type(T1)

tuple

In [29]:
type(T11)

tuple

Sifat-sifat Tuple

In [30]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [31]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [32]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [33]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [34]:
#Tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [35]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [36]:
#Tidak dapat mengahapus elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [37]:
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

Menggabungkan tuple

In [38]:
# Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

Latihan

In [39]:
#Buatlah tuplemu sendiri
OOz = ("Huang Renjun","Lee Jeno","Lee Haechan","Na Jaemin")
print("ini adalah anggota NCT Dream 00line", OOz)
type(OOz)

ini adalah anggota NCT Dream 00line ('Huang Renjun', 'Lee Jeno', 'Lee Haechan', 'Na Jaemin')

tuple

Latihan 2

In [40]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
KHz = ("Mark Lee","Zhong Chenle","Park Jisung")
print("ini adalah anggota NCT Dream KHz", KHz)
print("-"*20)

#Gabungkan 2 tuple
NCT_DREAM = OOz + KHz
print(NCT_DREAM)

ini adalah anggota NCT Dream KHz ('Mark Lee', 'Zhong Chenle', 'Park Jisung')
--------------------
('Huang Renjun', 'Lee Jeno', 'Lee Haechan', 'Na Jaemin', 'Mark Lee', 'Zhong Chenle', 'Park Jisung')